.brand {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.head-text {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 600;
  text-align: left;
  color: rgba(48, 107, 52, 1);
}
.brand-boxs {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 99px;
}
.brand-boxone {
  width: 308px;
  height: 442px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  margin-right: 50px;
  border-radius: 16px;
}
.brand-boxone img {
  width: 308px;
}
.box-head {
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: rgba(48, 107, 52, 1);
  margin-top: 10px;
  /* display: flex;
align-items: center;
justify-content: center; */
}
.tennis-para {
  width: 273px;
  height: 127px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}
.box-oneinterbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sustainability-para {
  width: 291px;
  height: 69px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
}
.sports-para {
  width: 273px;
  height: 115px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}

@media (max-width:1131px){
  .brand-boxone{
    margin-right: 32px;
  }
  .brand-boxone {
    width: 290px;
  }
  .brand-boxone img{
    width: 290px;
  }
  .tennis-para{
    font-size: 14px;
    width: 250px;
  }
  .sustainability-para {
    font-size: 14px;
    width: 250px;
  }
  .sports-para {
    font-size: 14px;
    width: 250px;
    /* height: 115px */
}
}

@media (max-width:1032px){
  .brand-boxone{
    margin-right: 32px;
  }
  .brand-boxone {
    width: 256px;
  }
  .brand-boxone img{
    width: 256px;
  }
  .tennis-para{
    font-size: 14px;
    width: 250px;
  }
  .sustainability-para {
    font-size: 14px;
    width: 250px;
  }
  .sports-para {
    font-size: 14px;
    width: 250px;
    /* height: 115px */
}
}


@media (max-width:916px){
  .brand-boxone{
    margin-right: 20px;
  }
  .brand-boxone {
    width: 250px;
  }
  .brand-boxone img{
    width: 250px;
  }
  .tennis-para{
    font-size: 13px;
    width: 200px;
  }
  .sustainability-para {
    font-size: 13px;
    width: 200px;
  }
  .sports-para {
    font-size: 13px;
    width: 200px;
    /* height: 115px */
}
}
@media (max-width:830px){
.brand-boxs {
margin-right: 70px;
}
}
@media (max-width:870px){
  .brand-boxone{
    margin-right: 20px;
  }
  .brand-boxone {
    width: 227px;
  }
  .brand-boxone img{
    width: 227px;
  }
  .tennis-para{
    font-size: 13px;
    width: 200px;
  }
  .sustainability-para {
    font-size: 13px;
    width: 200px;
  }
  .sports-para {
    font-size: 13px;
    width: 200px;
    /* height: 115px */
}

}

@media (max-width:782px){
  .brand-boxs{
    flex-direction: column;
    margin-right: 21px;
  }
  .head-text{
    margin-left: 40px;
    font-size: 31px;
  }
  .brand-boxone{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 30px;
    
  }
  .tennis-para{
    margin-bottom: 50px;
  }
  .brand-boxone img{
    width: 100%;
    height: 100%;
  }
  .sustainability-para {
    margin-bottom: 50px;
  }
}

@media (max-width:449px){
  .head-text{
    font-size: 28px;
  }
}

@media (max-width:388px){
  .head-text{
    font-size: 20px;
    margin-left: 10px;
  }
}